<div class="main-container">
  <div class="card-container">
    <div class="card-inner">
      <div class="card card-front">
        <span class="config-icon">
          <i>
            <img
              src="https://raw.githubusercontent.com/Viviane-Queiroz/pomodoro-and-todo/main/src/app/assets/images/config-icon.svg"
              alt="Timer configurations"
            />
          </i>
        </span>
        <span class="task-name">
          <p>Task 1</p>
        </span>
        <div class="text-timer">
          <p>25:00</p>
        </div>
        <div class="timer-buttons">
          <button type="button" class="button pause-button">Pause</button>
          <button type="button" class="button stop-button">Stop</button>
          <button type="button" class="button stop-button">Restart</button>
        </div>
      </div>
      <div class="card card-back">
        <div class="pomodoro-message"></div>
        <div class="pomodoro-config"></div>
      </div>
    </div>
  </div>
</div>
