<div class="main-container">
  <div class="card-container">
    <div class="card-inner">
      <div class="card card-front">
        <span class="config-icon">
          <i>
            <img
              src="https://raw.githubusercontent.com/Viviane-Queiroz/pomodoro-and-todo/main/src/app/assets/images/config-icon.svg"
              alt="Timer configurations"
            />
          </i>
        </span>
        <span class="task-name">
          <p>Task 1</p>
        </span>
        <div class="text-timer">
          <p>25:00</p>
        </div>
        <div class="timer-buttons">
          <button type="button" class="button pause-button">Pause</button>
          <button type="button" class="button stop-button">Stop</button>
          <button type="button" class="button stop-button">Restart</button>
        </div>
      </div>
      <div class="card card-back">
        <section class="message">
          <h2>Your Times Your Rules</h2>
          <p>
            Pomodoro is a technique where 25 minutes are set to maintain yourself completed focused on a specific task followed by a 5
            minutes rest.One pomodoro cycle consists of 4 rounds of hard work. After it, take a longer break of 15 minutes. Adjust the times
            to your reality and get the work done!
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
