* {
  font-size: 100%;
  border: 0;
  padding:0;
  margin: 0;
}

body {
  height: 100%;
  font-size: 1rem;
  color: #fff;
  box-sizing: border-box; 
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(src/assets/fonts/Poppins/Poppins-Light.ttf) format("truetype");
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins'), url(src/assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

/* home */

.container-pomodoro {
  background-color: #1E1E1E;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.pomodoro img {
  position: relative;
  float: right;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
}

.container-card {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.card-details {
  background: #5A5A5A;
  width: 514px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
}

.container-todo {
  background-color: #C4C4C4;
  width: 315px;
  height: 100vh;
  position: relative;
  float: left;
}
