<!-- <div class="container-header">
  <header id="header">
    <img src="assets/images/logo.svg" alt="Pomodoro and Todo logo">
  </header>
</div>

<div class="container-card">
  <div class="card-details">
    <p>Welcome to</p>
    <p><strong>Pomodoro</strong></p>
    <p><strong>& To do</strong></p>
    <p>Add or start a new task</p>
  </div>
</div> -->
<!-- 
<div class="todo">
  <p>Monday, 17</p>
  <button class="close-menu">
    <img src="assets/images/close-icon.svg" alt="Close menu icon">
  </button>
</div>

<div class="container-background">
  <img src="assets/images/logo.svg" alt="Pomodoro and Todo logo">

  <div class="card-details">
     <p>Welcome to <br> Pomodoro <br> & To do</p>
  </div>
</div> -->

<p>Initil home component</p>