<!-- <div class="container-todo">
  <div class="todo">
    <p>Monday, 17</p>
    <button class="close-menu">
      <img src="https://gist.githubusercontent.com/Viviane-Queiroz/94d9547b4cf7d282e6276bc171625a1b/raw/dc632516ae6d1fd631afb0615c476b2a2e641a31/close-icon-tp.svg" alt="Close menu icon">
    </button>
  </div>
 </div>

<div class="container-pomodoro">
   <div class="pomodoro">
   <img src="https://gist.githubusercontent.com/Viviane-Queiroz/0d434f5114e14bc3f947b677e076c4c7/raw/46eb8a96012cb4b0f501cfbe8fe6c241152b0683/logo-tp.svg" alt="Pomodoro and Todo logo">
    <div class="container-card">
     <div class="card-details">
          <p>Welcome to <br> Pomodoro <br> & To do</p>
      </div>
    </div>
  </div> -->
<!-- </div> -->

  <div class="todo-container">
    <div class="todo">

    </div>
  </div>

  <div class="pomodoro-container">
    <div class="pomodoro">

    </div>
  </div>
