<div class="header">
  <span class="header-menu">
    <a href="#" class="menu-logo">
      <i>
        <img
          src="https://raw.githubusercontent.com/Viviane-Queiroz/pomodoro-and-todo/main/src/app/assets/images/hamburguer-menu-icon.svg"
          alt="Open Menu"
        />
      </i>
    </a>
  </span>
  <span class="header-logo">
    <i>
      <img
        src="https://raw.githubusercontent.com/Viviane-Queiroz/pomodoro-and-todo/main/src/app/assets/images/pomodoro-and-todo-logo.svg"
        alt="Logo Menu"
      />
    </i>
  </span>
</div>
