.header {
  overflow: hidden;
  background-color: #000;
  padding: 1.875rem 2.813rem;
  height: 12.5rem;
}

.header a {
  float: left;
  text-decoration: none;
}

.header img {
  height: 2.8rem;
  width: 2.8rem;
}

.header-logo img {
  height: 6.25rem;
  width: 11rem;
}

.header-logo {
  float: right;
}

@media screen and (max-width: 31.25) {
  .header-menu a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-logo {
    float: none;
  }
}
