.header {
  overflow: hidden;
  padding: 1.875rem 2.813rem;
  height: 11rem;
}

.header a {
  float: left;
  text-decoration: none;
}

.header img {
  height: 2rem;
  width: 2rem;
}

.header-logo img {
  height: 6.25rem;
  width: 11rem;
}

.header-logo {
  float: right;
}

@media screen and (max-width: 31.25rem) {
  .header {
    padding: 1rem 2.5rem;
  }
  .header-menu a {
    float: none;
  }
  .header-logo img {
    height: 6rem;
    width: 10rem;
    float: right;
  }
}
